:root {
    --green : #2ea44f;
    --green-hover: #2c974b;
    --white: #ffffff;
}

body, h1, h2, h3, h4, h5, h6  {
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', sans-serif;
}

h1 {
    font-size: 45; 
    color: #24292e; 
    font-weight: 500;
}
        
.button {
    background-color: var(--green);
    border-radius: 6px;
    border: 1px solid #2b9148;
    color: white;
    padding: 12px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Segoe UI';
    font-weight: 500;
    letter-spacing: 1px;
    }

.button:hover {
    background-color: var(--green-hover);
}